[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jsonpickle = "*"
matplotlib = "*"
jupyter = "*"
ipympl = "*"
streamlit = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3"
