[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
numpy = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-dotenv = "*"
prosperity4btx = "*"
supabase = "*"

[requires]
python_version = "3"

[dev-packages]
